.banner{
    background-image: url(https://images.unsplash.com/photo-1511884642898-4c92249e20b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1080&q=100);
    height: 100vh;
    min-height: 320px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    color: #fff;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.7);
    height: inherit;
    min-height: inherit;
}
.about_title{
    margin-top: 80px;
}