.banner{
    background-image: url(https://images.unsplash.com/photo-1503785640985-f62e3aeee448?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1080&q=100);
    min-height: 600px;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    color: #000;
}
.overlay{
    background-color: rgba(255, 255, 255, 0.7);
    height: inherit;
    min-height: inherit;
}
.form-bg{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0%); */
    margin-top: 80px;
    padding: 20px 40px 0px 40px;
    background: -moz-linear-gradient(top, rgba(117,121,255,0.4), rgba(178,36,239,0.4) );
    background: linear-gradient(to bottom, rgba(117,121,255,0.4), rgba(178,36,239,0.4));
    /* border: 1px solid #b224ef; */
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4)
}
.form-bg h2{
  margin-bottom: 40px;
  color: #fff;
}
.form-bg input{
  margin-bottom: 30px;
}
.form-bg input, .form-bg textarea{
  width: 100%;
  background: transparent;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #666;
}
.form-bg div{
  position: relative;
}
.form-bg div label{
  position: absolute;
  top: 15;
  left: 0;
  color: #666;
  transition: .5s;
  pointer-events: none;
}
.form-bg input:focus ~ label,
 .form-bg textarea:focus ~ label,
 .form-bg input:valid ~ label,
 .form-bg textarea:valid ~ label{
   top: -15px;
   color: #fff;
   transform: scale(0.75);
   left: -2px;
 }
 /* .form-bg input:focus,
 .form-bg textarea:focus,
 .form-bg input:valid ,
 .form-bg textarea:valid{
   border-bottom: 2px solid #ffffff;
 } */
 .form-bg div .border{
   position: absolute;
   top: 22px;
   left: 0;
   height: 2px;
   width: 0%;
   background: rgb(255, 255, 255);
   transition: .5s;
   /* box-sizing: border-box */
   box-shadow: 1px 1px 4px 0  rgba(255, 255, 255, 1);

 }
  .form-bg div textarea ~ .border{
    top: 44px;
  }
 .form-bg input:focus ~ .border,
 .form-bg input:valid ~ .border{
   width: 100%;
 }
 .form-bg textarea:focus ~ .border,
 .form-bg textarea:valid ~ .border{
   /* top: 50px; */
   width: 100%;
 }
 .danger{
   border: 0.1em solid red;
 }
 .red{
   background: red;
 }